body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #424242;
  margin: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* madia sizing at width 56% */
/* container */
.container{
  width: 95%;
  margin: auto;
}
/* header styling */
header{
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.40em solid lightgrey;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}
.my-img{
  border-radius: 0.50em;
  box-shadow: 5px 5px 10px grey;
}
.my-links{
  align-items: center;
  text-align: center;
}
h1, h3{
  font-weight: bold;
  font-size: inherit;
  text-transform: uppercase;
}
h1{
  font-size: 2rem;
  line-height: 1.25em;
  margin-top: 0.3em;
}
h3{
  font-size: 1.200rem;
  font-weight: 300;
  line-height: 1.375em;
}
.link-item{
  display: inline-flex;
  text-align: center;
  list-style: none;
  flex-grow: 1;
}
ul{
  margin-top: 5px;
  margin-bottom: 5px;
}
ul li a{
  padding: 1.5em;
  box-sizing: border-box;
}
/*
*
*slider image
*
*
*/
.slider-img{
  width: 100%;
}
/* main */
.feature-work{
  color: #7d97ad;
  font-weight: 400;
  font-size: 2.3em;
  text-align: center;
  margin: 1em 0 1em;
  text-transform: capitalize;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-transform: capitalize;
  font-size: 0.9rem;
  box-sizing: border-box;
  justify-content: space-between;
}
.projects a{
  text-decoration: none;
  color: black;
}
.project-wrap h2{
  line-height: 2.15rem;
  text-transform: uppercase;
  font-size: 1.250rem;
  color: #000;
  font-weight: 400;
  padding-bottom: 0.50em;
}
main img{
  max-width: 100%;
  border: 1px solid darkgrey;
  vertical-align: middle;
}
.project-wrap{
  margin: 1em 0 1em;
}
/* footer */
footer{
  display: flex;
  flex-wrap: wrap;
  color: #7d97ad;
  font-style: italic;
  justify-content: space-around;
  margin: 1rem auto;
  width: 95%;
  font-size: 1rem;
}
footer a{
  color: #000;
}
span{
  font-weight: bold;
}
